<mat-list>
  <mat-list-item>Item 1</mat-list-item>
  <mat-list-item>Item 2</mat-list-item>
  <mat-list-item>Item 3</mat-list-item>
</mat-list>

<mat-divider></mat-divider>

<mat-nav-list>
  <a href="#" mat-list-item>Home</a>
  <a href="#" mat-list-item>About</a>
  <a href="#" mat-list-item>WHAT</a>
</mat-nav-list>

<mat-divider></mat-divider>

<mat-list>
  <mat-list-item>
    <mat-icon matListIcon>home</mat-icon>
    <h3 matLine>Heading</h3>
    <p matLine>Description</p>
  </mat-list-item>
</mat-list>
