<mat-accordion class="according-align">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Angular Fundamentals
      </mat-panel-title>
      <mat-panel-description>
        Total Duration: 3 hours
      </mat-panel-description>
    </mat-expansion-panel-header>

    <p> Put your course detail here. </p>

    <mat-action-row>
      <button mat-raised-button>Enroll</button>
      <button mat-raised-button>View More</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Angular Material
      </mat-panel-title>
      <mat-panel-description>
        Total Duration: 2 hours
      </mat-panel-description>
    </mat-expansion-panel-header>

    <p> Put your course detail here. </p>

    <mat-action-row>
      <button mat-raised-button>Enroll</button>
      <button mat-raised-button>View More</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
