<mat-nav-list>
  <a mat-list-item routerLink="/typography">typography</a>
  <a mat-list-item routerLink="/button">button</a>
  <a mat-list-item routerLink="/icon">icon</a>
  <a mat-list-item routerLink="/badge">badge</a>
  <a mat-list-item routerLink="/progress-control">progress-control</a>
  <a mat-list-item routerLink="/navbar">navbar</a>
  <a mat-list-item routerLink="/sidenav">sidenav</a>
  <a mat-list-item routerLink="/drawer">drawer</a>
  <a mat-list-item routerLink="/menu">menu</a>
  <a mat-list-item routerLink="/list">list</a>
  <a mat-list-item routerLink="/grid-list">grid-list</a>
  <a mat-list-item routerLink="/expansion">expansion</a>
  <a mat-list-item routerLink="/card">card</a>
  <a mat-list-item routerLink="/tabs">tabs</a>
  <a mat-list-item routerLink="/stepper">stepper</a>
  <a mat-list-item routerLink="/input">input</a>
  <a mat-list-item routerLink="/select">select</a>
  <a mat-list-item routerLink="/checkbox-and-radio">checkbox and radio</a>
  <a mat-list-item routerLink="/date-picker">date picker</a>
  <a mat-list-item routerLink="/tooltip">tool tip</a>
  <a mat-list-item routerLink="/snackbar">snackbar</a>
  <a mat-list-item routerLink="/dialog">dialog</a>
  <a mat-list-item routerLink="/data-table">date-table</a>
</mat-nav-list>
