<div class="mat-display-1">Mat-Display-1</div>
<div class="mat-display-2">Mat-Display-2</div>
<div class="mat-display-3">Mat-Display-3</div>
<div class="mat-display-4">Mat-Display-4</div>

<div class="mat-headline">heading for h1</div>
<div class="mat-title">heading for h2</div>
<div class="mat-subheading-2">heading for h3</div>
<div class="mat-subheading-1">heading for h4</div>

<div class="mat-typography">
  <h1>heading for h1 in another way</h1>
</div>

<div class="mat-body-1">body-1</div>
<div class="mat-body-2">body-2</div>
<div class="mat-body-strong">body-caption</div>
